#services:
#  pgvector:
#    container_name: pgdb-store
#    image: 'pgvector/pgvector:pg16'
#    environment:
#      - 'POSTGRES_DB=dbCryptoCurrency'
#      - 'POSTGRES_PASSWORD=1234'
#      - 'POSTGRES_USER=admin'
#    volumes:
#      - chatbot_data:/var/lib/postgresql/data
#    ports:
#      - '5432:5432'
#    networks:
#      - chatbot-net
#    healthcheck:
#      test: [ "CMD-SHELL", "pg_isready -U admin" ]
#      interval: 5s
#      retries: 5
#      timeout: 5s
#  chatbot-back:
#    build: ./backend
#    container_name: chatbot-back
#    ports:
#      - '8074:8074'
#    networks:
#      - chatbot-net
#
#    depends_on:
#      pgvector:
#        condition: service_healthy
#    environment:
#      - DB_URL=jdbc:postgresql://pgdb-store:5432/dbCryptoCurrency
#    command: >
#      sh -c "
#        ./wait-for-it.sh pgdb-store:5432 --
#        java -jar app.jar
#      "
#  chatbot-front:
#    build: ./frontend
#    container_name: chatbot-front
#    ports:
#        - '8086:80'
#    networks:
#        - chatbot-net
#    depends_on:
#        - chatbot-back
#
#volumes:
#  chatbot_data:
#networks:
#  chatbot-net:
#    driver: bridge
services:
  pgvector:
    container_name: pgdb-store
    image: pgvector/pgvector:pg16
    environment:
      POSTGRES_DB: dbCryptoCurrency
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 1234
    volumes:
      - chatbot_data:/var/lib/postgresql/data
    ports:
      - '5432:5432'
    networks:
      - chatbot-net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin"]
      interval: 5s
      retries: 5
      timeout: 5s

  chatbot-back:
    build: ./backend
    container_name: chatbot-back
    ports:
      - '8074:8074'
    networks:
      - chatbot-net
    depends_on:
      pgvector:
        condition: service_healthy
    environment:
      SPRING_PROFILES_ACTIVE: dev
      SPRING_DATASOURCE_URL: jdbc:postgresql://pgdb-store:5432/dbCryptoCurrency
      SPRING_DATASOURCE_USERNAME: admin
      SPRING_DATASOURCE_PASSWORD: 1234

  chatbot-front:
    build: ./frontend
    container_name: chatbot-front
    ports:
      - '8086:80'
    networks:
      - chatbot-net
    depends_on:
      - chatbot-back

volumes:
  chatbot_data:

networks:
  chatbot-net:
    driver: bridge
