spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

server:
  port: 8074

ai:
  enabled: false
  openai:
    enabled: false
  ollama:
    enabled: false
management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      enabled: true
  server:
    port: 8074